.env
.env.prod
*.local

# Go
bin/
.dev/
**/internal/gen/http/
**/internal/gen/mocks/

# IDE
.idea/
.vscode/

# Flutter
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.metadata
web/

# OS
.DS_Store
