go 1.25

use (
	./libs/config
	./libs/core
	./libs/http
	./libs/jwt
	./libs/media
	./libs/postgres
	./libs/s3
	./services/api-gateway
	./services/auth
	./services/content
	./services/learning
	./services/lexicon
)
