go 1.25.0

use (
	./_misc/handler-stub-gen
	./_misc/openapi-handler-gen
	./libs/clients
	./libs/config
	./libs/core
	./libs/http
	./libs/jwt
	./libs/media
	./libs/postgres
	./libs/s3
	./services/api-gateway
	./services/auth
	./services/content
	./services/learning
	./services/lexicon
	./services/media
)
